<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-MDa9icyKn3KoD4REo7_N_QcJ3dvHSK4</string>
	<key>GCM_SENDER_ID</key>
	<string>197530779446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>shareit-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>shareit-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197530779446:ios:ccb838937c89cc07d4fd97</string>
	<key>DATABASE_URL</key>
	<string>https://shareit-v1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>